/* Import fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

/* Set default font family and size */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #111;
  color: #fff;
  padding: 0 2rem; /* Horizontal padding */
  margin: 0;
  box-sizing: border-box; /* Ensures padding doesn't add to the width */
}

/* Set light text color */
body, h1, h2, h3, h4, h5, h6, p, ul, li, table, th, td, blockquote, figcaption {
  color: #fff;
}

/* Set dark border color */
button, input, select, textarea, table, th, td {
  border-color: #444;
}

/* Set dark accent color */
a {
  color: #ff6f61;
}

/* Set dark hover color */
a:hover, button:hover, nav button:hover {
  color: #fff;
}

/* Set dark button color */
button {
  background-color: #444;
  color: #ddd;
}

/* Set dark button hover color */
button:hover {
  background-color: #ff6f61;
  color: #fff;
}

/* Set dark form input background color */
input, select, textarea {
  background-color: #333;
  color: #ddd;
}

/* Set dark form input focus color */
input:focus, select:focus, textarea:focus {
  background-color: #444;
  color: #fff;
}

/* Set dark form input placeholder color */
::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* Set list style to none and remove dots */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

/* Set styles for navbar */
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000; /* #8b4640 */
}

nav, .TransitionShape {
  margin-left: -2rem;
  margin-right: -2rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 1rem;
}

nav h1 {
  margin: 0;
  font-size: 2rem;
  color: #fff; /* text color changed to white */
}

nav button {
  background-color: transparent;
  border: none;
  color: #fff; /* text color changed to white */
  font-size: 1rem;
  cursor: pointer;
}

nav button:hover {
  background-color: #1d1d1d; /* hover color changed to darker shade */
  color: #fff;
}

nav button.active {
  color: #d517e8; /* active button color changed to white */
}

/* Set styles for blockquotes */
blockquote {
  padding: 10px;
  margin: 1em 0;
  border-left: 5px solid #444;
}

/* Set styles for tables */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #444;
}

/* Set styles for images */
img {
  max-width: 100%;
  height: auto;
}

/* Set styles for figures and figcaptions */
figure {
  margin: 1em 0;
}

figcaption {
  font-size: 0.875em;
}


.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}
  
html {
    scroll-behavior: smooth;
}

/* Styles for smaller screens */
@media (max-width: 925px) {
  nav ul {
    flex-direction: column; /* Stack items vertically */
  }

  nav li {
    margin: 0; /* Remove vertical margin */
    width: 100%; /* Optional: Make each item full width */
  }

  /* Hide the menu button as it's not needed */
  .menu-button {
    display: none;
  }
}


@media (min-width: 926px) {
  .menu-button {
    display: none;
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
  }

  .mobile-menu {
    display: none;
  }
}

.menu-button img {
  max-width: 25px;
}

.mobile-menu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #333;
  transition: 0.5s ease-in-out;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu li {
  margin: 2rem 1rem;
}

.education-container {
  text-align: center; /* Aligns the h1 above the cards */
  padding: 2rem;
}

/* Styles for the card list */
.card-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list-item {
  background-color: #222222;
  margin: 0.5rem 0; /* Adjust the margin as needed */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 80%; /* Adjust width as needed */
  max-width: 750px; /* Prevents the card from becoming too wide on larger screens */
  text-align: center;
}

.card-list-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.weak-text {
  font-weight: normal; /* Default weight */
  color: #aaa; /* Lighter text color */
  display: block; /* If you want the date to be on its own line */
}

.card-list-item strong {
  display: block; /* Or inline-block, depending on your design */
  margin-bottom: 0.5rem;
  color: #ffffff; /* Adjust color to match your design */
  font-weight: 700; /* Optional: Makes the title bold */
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align the tops */
  padding: 2rem;
}

.about-image {
  flex: 0 0 auto; /* Do not grow or shrink */
  margin-right: 4rem; /* Increased spacing between image and text */
  max-width: 200px; /* Adjust to desired width while maintaining aspect ratio */
}

.about-image img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.about-text {
  display: flex;
  flex-direction: column; /* Stack h1 and p on top of each other */
  justify-content: center;
  max-width: 600px; /* Adjust to your desired text width */
}

/* Responsive design adjustments */
@media (max-width: 925px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    margin-right: 0; /* Reset margins for small screens */
    margin-bottom: 2rem; /* Increased spacing between image and text on small screens */
  }

  .about-text {
    /* Full width on small screens */
    max-width: 100%;
  }
}